/node_modules
/public/hot
/public/img
/public/storage
/public/vendor/splide-4.1.3
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
/storage
.env
docker-compose.yml
Dockerfile
laravel.sh
/docker
